<header> 
    <nav class="header-nav">
        <a class="header-title" href="/home">FlyEZ</a> 
        <ul>
            <li><a href = "/">Login/Register</a></li>
            <li><a href = "/home">Home</a></li>
            <li><a href = "/users">Users</a></li>
            <li><a href = "/users/new">Add Users</a></li>
            <li><a href = "/logs">Logs</a></li>
            <li><a href = "/logs/new">Add Logs</a></li>
        </ul>
    </nav>
</header>