<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width= , initial-scale=1.0">
        <title>Flybrary</title>
    </head>
    <body style = "background-color: darkgrey;">
        <style>
        .center{
            border: 3px solid black;
            margin: auto;
            width: 200px;

        }
        </style>
        <div class = "center">
            <button style = "width: 200px; height: 50px; font-size: 30px;"> <strong>Log Data</strong></button>
        </div>
    </body>
</html>
