<style>
    ul.home {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
</style>

<h2 class="page-header">Home Page</h2>

<ul class = "home">
    <li><a href="/register">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/login">Logout</a></li>
</ul>