<h2 class="page-header">Login</h2>
 
<form action="/login" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
        <div class="form-row btn-row">
    <button class = "btn btn-primary">login</button>
</form>
<a class = "btn btn-del" href = "/">Cancel</a>
</div>

 
<a class = "btn btn-primary" href="/register">Sign up</a>