<h2>Login</h2>
 
<form action="/login" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <button>login</button>
</form>
 
<h2>Home Page</h2>
 
<li><a href="/register">Sign up</a></li>