<h2 class="page-header"> Sign up</h2>
 
<form action="/register" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <div class="form-row btn-row">
    <button class = "btn btn-primary">Submit</button>
</form>
<a class = "btn btn-del" href = "/">Cancel</a>
</div>
 
<div class="form-row btn-row">
<a class = "btn btn-primary" href="/login">Login</a>
</div>