<div class="form-row">
    <div class ="form-item">
<label>Username</label>
<input type = "text" username = "username" value ="<%= user.username %>">
</div>
<div class = "form-item">
<label>Password</label>
<input type = "text" password = "password" value ="<%= user.password %>">
</div>
</div>
