<h2>New Log</h2>
<!-- method of the form-->
<form action = "/logs" method = "POST">
    <!-- including file with one line to ensure organisation and structure-->
    <%- include('_form_fields')%>
    <!-- clicking link sends you back a page-->
    <a href = "/logs">Cancel</a>
    <!-- create button submits form-->
    <button type="submit">Create</button> 
</form> 