<h2 class="page-header">New Log</h2>
<!-- method of the form-->
<form action = "/logs" method = "POST">
    <!-- including file with one line to ensure organisation and structure-->
    <%- include('_form_fields')%>
    <!-- clicking link sends you back a page-->
    <div class = "form-row form-row-end btn-row">
        <a class="btn btn-del" href = "/logs">Cancel</a>
        <!-- create button submits form-->
        <button class="btn btn-primary"type="submit">Create</button> 
    </div>
</form> 